div{
    /* background-color: grey; */
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}
.casino-lists .row{
    border-bottom: 1px solid black;
    margin-bottom: .5rem;
    padding: 1.5rem 0;
}
.play-btn{
    margin: auto;
    width: 40%;
    margin-bottom: .5rem;
}

ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-left: 1.3em;
  }
  li:before {
    content: "\f017"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
  .ratings-container{
    display: flex;
    justify-content: center;
  }

  .rating-star::before{
    content: "\f005"; 
    font-family: FontAwesome;
    display: inline-block;
    width: 1.3em; /* same as padding-left set on li */
  }

  .play-btn{
    padding: 0.8rem 1.5rem;
    background-color: green;
    border-radius: 5px;
  }
  .play-url{
    color: white;
  }
  .terms{
    font-size: 15px;
  }
  .features{
    font-size: 12px;
    font-weight: bold;
  }


.casino-list-header{
    padding: 1rem 0;
    background-color: #D29F36;
}

.casino-img{
    height: auto;
    width: -webkit-fill-available;
    object-fit: cover;
}
.casino-list-header p{
    margin: 0;
}










@media screen and (max-width: 920px) {
    body {
      background-color: blue;
    }
  }
  

  @media screen and (max-width: 600px) {

        .mobile{
            display: block;
        }
        .desktop{
            display: none !important;
        }
        .casino-list-item{
            flex-direction: column;
        }
        .casino-img{
            margin: auto;
            width: 50%;
        }
  }